<div class="footer">
    <div class="first">
        <div class="sec">
        <h2>Products</h2>
        <ul>
            <li>Auto</li>
            <li>Home</li>
            <li>Business</li>
            <li>Employee Benefits</li>
            <li>About</li>
        </ul>
        </div>
        <div class="sec">
        <h2>Company</h2>
        <ul>
            <li >About Us</li>
            <li >Careers</li>
            <li>Agents & Produces</li>
            <li>News Room</li>
            <li >Investors Relation</li>
            <li>Mobile App</li>
        </ul>
        </div>
        <div class="sec">
        <h2>Connect</h2>
        <ul>
            <li >Contact Us</li>
            <li >Report a Claim</li>
            <li>Find an Agent</li>
            <li>Small Business Playbook</li>
            <li >Small Big Ahead</li>
            <li>Extra Mile</li>
        </ul>
        </div>
        <div>
            <h1>Access Your Account</h1>
            <p>View your policy, pay your bill, view claims status and more.</p>
            <button>Auto & Home Login</button><br/>
            <button>Business Insurance Login</button>
        </div>
    </div>
    <div class="second">
        <img src="/assets/images/screenshot_2025-02-06_7.45.04_am.png" alt="logo" class="logo"/>
        <div class="con">
            <div>
                <img src="/assets/images/instagram.png" alt="instagram" class="i"/>
                <img src="/assets/images/facebook.png" alt="facebook"  class="i"/>
                <img src="/assets/images/linkedin.png" alt="linkedin"  class="i"/>
                <img src="/assets/images/youtube.png" alt="youtube"  class="i"/>
            </div>
           <ul>
  <li>Legal Notice</li>
  <li>Accessibility Statement</li>
  <li>Producer Compensation</li>
  <li>EEO</li>
  <li>Privacy Policy</li>
  <li>Your California Privacy Choices</li>
</ul>
        <h1>© 2026 Angular Training</h1>
        </div>
    </div>
</div>