h1 {
    color: #004aad;
    margin: 20px 0 10px;
    font-size: 36px;
}
h2 {
    color: #0078ff;
}
p {
    font-size: 18px;
}
a {
    text-decoration: none;
    font-weight: bold;
}
table {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px;
}
.struct {
    background: #111;
    color: #00ffcc;
    padding: 20px;
    border-radius: 10px;
}
.feed {
    background: grey;
    margin: 30px auto;
    border-radius: 15px;
    width:300px;
}
label {
    font-weight: bold;
}
button {
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
hr {
    margin: 5px 0;
    border: none;
    height: 2px;
    background-color: blue;
}