<div class="insurance">
    <h1 class="head">Insurance Profiles</h1>
    <div class="profiles">
    <div class="card">
        <img src="assets/images/car.png" alt="auto" class="img"/>
        <h1>Auto</h1>
        <input name="profile" type="radio"/>
    </div>
    <div class="card">
        <img src="assets/images/private-car.png" alt="auto+home" class="img"/>
        <h1>Auto+Home</h1>
        <input name="profile" type="radio"/>
    </div>
    <div class="card">
        <img src="assets/images/home.png" alt="home" class="img"/>
        <h1>Home</h1>
        <input name="profile" type="radio"/>
    </div>
    <div class="card">
        <img src="assets/images/briefcase.png" alt="business" class="img"/>
        <h1>Business</h1>
        <input name="profile" type="radio"/>
    </div>
    </div>
</div>